alembic==1.16.5
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
astmonkey==0.3.6
asyncpg==0.31.0
bcrypt==5.0.0
certifi==2025.1.31
click==8.3.3
debugpy==1.8.14
fastapi==0.136.1
h11==0.16.0
httptools==0.7.1
idna==3.13
iniconfig==2.1.0
Jinja2==3.1.6
MarkupSafe==3.0.2
MutPy==0.6.1
packaging==25.0
pluggy==1.6.0
psycopg[binary]==3.2.10
PyJWT==2.10.1
pydantic==2.13.3
pydantic-settings==2.14.0
pydantic_core==2.46.3
python-multipart==0.0.20
pydot==4.0.1
Pygments==2.19.2
pyparsing==3.2.5
pytest==8.4.2
python-dotenv==1.2.2
PyYAML==6.0.3
SQLAlchemy==2.0.49
starlette==1.0.0
termcolor==3.1.0
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.46.0
uvloop==0.22.1
watchfiles==1.1.1
websockets==16.0
